<div  style="float:right;">
<span data-hook="save_user_address" class='save-user-address-wrapper'>
  &nbsp; &nbsp;
  <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
  <%= label_tag :save_user_address, Spree.t(:accept_terms_and_conditions) %>
</span>
  <p><%= label_tag :save_user_address, Spree.t(:clich_here_to_read) %></p>
</div>
